@model IEnumerable<Geprofs3.Models.VerlofAanvraag>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h1>Inziens</h1>

<form asp-controller="VerzoekenInzien" asp-action="Index">
    <p>
        <select name="columns" id="columns">
            <option value="naam">Naam</option>
            <option value="rol">Rol</option>
            <option value="afdeling">Afdeling</option>
            <option value="status">Status</option>
        </select>
        <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afdeling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Status.ToLower() != "afwachting")
            {
                continue;
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Afdeling)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginDatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <form asp-controller="VerzoekenInzien" asp-action="Index">
                            <input type="text" name="verzoekId" value=@Html.DisplayFor(modelItem => item.Id) hidden />
                            <input type="text" name="verzoekKeuring" value="Goedgekeurd" hidden />
                            <input type="submit" value="Goedkeuren" />
                    </form>
                    <form asp-controller="VerzoekenInzien" asp-action="Index">
                        <input type="text" name="verzoekId" value=@Html.DisplayFor(modelItem => item.Id) hidden />
                        <input type="text" name="verzoekKeuring" value="Afgekeurd" hidden />
                        <input type="submit" value="Afkeuren" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afdeling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Status.ToLower() == "afwachting")
            {
                continue;
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Afdeling)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginDatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>