@model IEnumerable<Geprofs3.Models.VerlofAanvraag>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<form asp-controller="VerlofAanvraags" asp-action="Index">
    <p>
        <select name="columns" id="columns">
            <option value="naam">Naam</option>
            <option value="rol">Rol</option>
            <option value="afdeling">Afdeling</option>
            <option value="status">Status</option>
        </select>
        <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afdeling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EindDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Afdeling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EindDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
